@use "../abstract/" as *;
@use "../base/" as *;

.menuList {
  padding: 5rem 0;
  &__items {
    @include evenGrid(1, 1fr);
  }
  &__title {
    @include centerAll;
    flex-direction: column;
    margin-bottom: 2rem;
    h2 {
      font-size: 2.5rem;
      font-family: $font-primary;
    }
  }
  &__wrapper {
    @include evenGrid(2, 1rem);
    justify-items: center;
  }
  &__food {
    ul {
      @include between;
      li {
        color: $clr--secondary;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    p {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
  img {
    width: 68rem;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

@include mediaQuery(520px) {
  .menuList {
    &__wrapper {
      @include evenGrid(1, 1rem);
    }
  }
}
